In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import scipy as sp

In [5]:
df = pd.read_csv("maplike_survey_201612.csv")

In [43]:
df.describe()

,id,AGE,DEGREE,FAC,ITSKILLS,VISSKILLS,C1_SQ001,C1_SQ002,C1_SQ003,C2_SQ003,C2_SQ001,C2_SQ002,C3_SQ001,C3_SQ002,C3_SQ003
count,40.000000,40.000000,40.00000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,20.500000,22.625000,0.77500,6.525000,5.175000,3.575000,3.700000,4.425000,5.225000,2.650000,3.975000,4.400000,3.550000,4.275000,5.825000
std,11.690452,2.695557,0.65974,2.571914,1.375379,1.337573,1.505545,1.448031,1.609069,1.477177,1.804375,1.794579,1.647842,1.739253,1.483024
min,1.000000,17.000000,0.00000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10.750000,21.000000,0.00000,4.000000,5.000000,3.000000,3.000000,3.750000,4.750000,1.000000,2.000000,3.000000,2.000000,3.000000,5.000000
50%,20.500000,23.000000,1.00000,8.000000,5.000000,4.000000,4.000000,4.000000,6.000000,2.000000,4.000000,5.000000,4.000000,5.000000,6.000000
75%,30.250000,24.000000,1.00000,9.000000,6.000000,4.250000,4.000000,6.000000,6.000000,4.000000,5.000000,6.000000,5.000000,6.000000,7.000000
max,40.000000,28.000000,2.00000,9.000000,7.000000,6.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000

## Calculating 95% confidence interval

In [8]:
from scipy import stats

In [9]:
# This is from a text-book: http://www.stat.yale.edu/Courses/1997-98/101/confint.htm
mean = 98.249
sd = 0.733
N = 130
stats.norm.interval(0.95, loc=mean, scale=sd / np.sqrt(N))

(98.122997143856793, 98.375002856143198)

In [44]:
# 95% confidence interval for AGE
mean = df.AGE.mean()
sd = df.AGE.std()
N = len(df.AGE)
stats.norm.interval(0.95, loc=mean, scale=sd / np.sqrt(N))

(21.78965369022621, 23.46034630977379)

## Mean values for C1_SQ001, C1_SQ002, C1_SQ003

In [10]:
(df.C1_SQ001.mean(), df.C1_SQ002.mean(), df.C1_SQ003.mean())

(3.7, 4.425, 5.225)

## Wilcoxon signed rank test

In [33]:
def wtest(a, b):
    result = sp.stats.wilcoxon(a, b)
    print("statistic={}, pvalue={:.4f}".format(*result))
    print("effect size: r={:.2f}".format(result.statistic / np.sqrt(len(a))))

In [34]:
wtest(df.C1_SQ001, df.C1_SQ002)
wtest(df.C1_SQ002, df.C1_SQ003)

statistic=23.0, pvalue=0.0000
effect size: r=3.64
statistic=113.5, pvalue=0.0021
effect size: r=17.95

In [35]:
(df.C2_SQ003.mean(), df.C2_SQ001.mean(), df.C2_SQ002.mean())

(2.65, 3.975, 4.4)

In [36]:
wtest(df.C2_SQ003, df.C2_SQ001)
wtest(df.C2_SQ001, df.C2_SQ002)

statistic=38.0, pvalue=0.0007
effect size: r=6.01
statistic=89.0, pvalue=0.0445
effect size: r=14.07

In [37]:
(df.C3_SQ001.mean(), df.C3_SQ002.mean(), df.C3_SQ003.mean())

(3.55, 4.275, 5.825)

In [38]:
wtest(df.C3_SQ001, df.C3_SQ002)
wtest(df.C3_SQ002, df.C3_SQ003)

statistic=37.5, pvalue=0.0005
effect size: r=5.93
statistic=9.5, pvalue=0.0000
effect size: r=1.50