In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import scipy as sp

In [4]:
df = pd.read_csv("maplike_survey_201612.csv")

In [6]:
df.describe()

,id,AGE,DEGREE,FAC,ITSKILLS,VISSKILLS,C1_SQ001,C1_SQ002,C1_SQ003,C2_SQ003,C2_SQ001,C2_SQ002,C3_SQ001,C3_SQ002,C3_SQ003
count,40.000000,40.000000,40.00000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,20.500000,22.625000,0.77500,6.525000,5.175000,3.575000,3.700000,4.425000,5.225000,2.650000,3.975000,4.400000,3.550000,4.275000,5.825000
std,11.690452,2.695557,0.65974,2.571914,1.375379,1.337573,1.505545,1.448031,1.609069,1.477177,1.804375,1.794579,1.647842,1.739253,1.483024
min,1.000000,17.000000,0.00000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10.750000,21.000000,0.00000,4.000000,5.000000,3.000000,3.000000,3.750000,4.750000,1.000000,2.000000,3.000000,2.000000,3.000000,5.000000
50%,20.500000,23.000000,1.00000,8.000000,5.000000,4.000000,4.000000,4.000000,6.000000,2.000000,4.000000,5.000000,4.000000,5.000000,6.000000
75%,30.250000,24.000000,1.00000,9.000000,6.000000,4.250000,4.000000,6.000000,6.000000,4.000000,5.000000,6.000000,5.000000,6.000000,7.000000
max,40.000000,28.000000,2.00000,9.000000,7.000000,6.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [10]:
df.C1_SQ001.mean()

3.7

Calculating 95% confidence interval

In [11]:
from scipy import stats

In [12]:
mean = 98.249
sigma = 0.733
N = 130
stats.norm.interval(0.95, loc=mean, scale=sigma / np.sqrt(N))

(98.122997143856793, 98.375002856143198)

In [19]:
df

,g,id,AGE,GENDER,DEGREE,FAC,MAJOR,ITSKILLS,VISSKILLS,C1_SQ001,C1_SQ002,C1_SQ003,C2_SQ003,C2_SQ001,C2_SQ002,C3_SQ001,C3_SQ002,C3_SQ003
0,A,1,19,F,0,8,GPA,5,3,4,5,6,2,3,4,3,5,7
1,A,2,23,F,1,8,public administration,3,4,4,5,7,2,2,5,4,5,7
2,A,3,17,M,0,3,Japanese Studies,7,4,7,7,7,2,7,7,7,7,7
3,A,4,25,M,2,8,political science,5,5,7,7,7,5,7,7,7,7,7
4,A,5,23,F,1,7,International Business Law,5,2,1,3,6,1,7,1,1,1,7
5,A,6,25,M,2,3,CHINESE LINGUISTICS,3,3,4,3,2,2,4,3,3,3,4
6,A,7,24,F,1,9,E-commerce Technology,7,5,6,5,4,4,4,4,4,6,6
7,A,8,23,F,1,3,Chinese Linguistics,4,4,2,2,5,2,2,4,2,2,6
8,A,9,21,M,0,4,Financial controllership,3,4,3,4,6,3,3,5,4,3,6
9,A,10,24,M,1,9,e-commerce,6,2,3,4,5,4,2,6,1,6,7
10,B,11,23,F,0,4,global business management,3,1,4,4,4,2,4,4,4,6,7
11,B,12,23,F,1,8,economics,3,4,4,5,6,5,4,6,5,5,5
12,B,13,19,F,0,5,English Education,5,3,2,3,2,1,1,1,1,1,3
13,B,14,26,F,1,8,European Studies,5,3,2,3,5,1,1,2,1,2,6
14,B,15,23,F,1,9,ECE,7,4,4,4,4,5,5,4,4,5,5
15,B,16,19,F,0,3,chinese langage literture,3,3,4,6,1,1,1,1,1,3,6
16,B,17,27,M,2,7,International Business Law,5,5,3,4,5,1,6,6,4,5,6
17,B,18,23,F,1,9,computer science,7,5,6,6,6,1,4,6,5,5,6
18,B,19,25,M,1,2,CMS,6,5,4,5,6,2,4,5,4,5,7
19,B,20,24,F,0,9,Civil Engineering,5,5,4,4,5,4,4,5,4,4,5
20,C,21,21,F,0,9,Civil Engineering,6,5,2,3,5,2,2,3,2,3,5
21,C,22,21,M,1,7,civil law,5,1,4,5,6,1,6,6,4,4,7
22,C,23,22,M,1,9,CS,7,4,4,5,6,3,5,5,5,6,7
23,C,24,28,F,2,2,biology medicines,5,6,5,6,7,3,5,6,5,6,7
24,C,25,19,M,0,9,computer science,7,4,5,6,5,2,6,6,3,5,6
25,C,26,22,F,1,9,Civil Engineering,7,4,3,4,4,1,2,2,2,1,2
26,C,27,23,M,1,9,computer science,6,4,4,6,7,5,5,7,5,6,7
27,C,28,22,F,1,9,E-commerce,7,4,2,2,7,4,2,6,2,3,7
28,C,29,24,F,1,8,Economics,5,1,5,6,7,2,4,5,3,3,5
29,C,30,24,M,1,8,european studies,5,4,4,5,6,1,6,3,5,3,6
30,D,31,18,F,0,3,Portuguese study,5,3,3,4,6,1,7,2,2,2,1
31,D,32,20,F,0,4,GBS,3,3,3,4,6,3,5,6,3,5,6
32,D,33,19,M,0,9,Computer Science,7,4,5,6,3,3,5,6,5,5,6
33,D,34,24,F,1,7,CRL,3,2,2,2,2,2,2,2,2,3,5
34,D,35,19,M,0,9,Computer Science,6,5,6,6,7,6,5,5,5,6,7
35,D,36,28,M,2,4,finance,5,1,1,3,5,1,1,3,2,2,3
36,D,37,24,M,1,9,ECE,5,1,3,6,7,3,5,7,7,7,7
37,D,38,24,F,1,4,FINANCE,5,4,4,4,3,4,4,3,4,5,7
38,D,39,26,M,1,4,finance,6,5,1,1,6,5,3,3,3,4,5
39,D,40,21,M,0,3,Japanese Study,5,4,4,4,5,4,4,4,4,6,7

Mean values for C1_SQ001, C1_SQ002, C1_SQ003

In [14]:
(df.C1_SQ001.mean(), df.C1_SQ002.mean(), df.C1_SQ003.mean())

(3.7, 4.425, 5.225)

Wilcoxon signed rank test

In [15]:
sp.stats.wilcoxon(df.C1_SQ001, df.C1_SQ002)

WilcoxonResult(statistic=23.0, pvalue=1.9367333159192657e-05)

In [18]:
23/np.sqrt(40), 113.5/np.sqrt(40)

(3.6366193091936361, 17.945925721455552)

In [17]:
sp.stats.wilcoxon(df.C1_SQ002, df.C1_SQ003)

WilcoxonResult(statistic=113.5, pvalue=0.0021365877374490685)

In [20]:
sp.stats.wilcoxon(df.C1_SQ001, df.C1_SQ003)

WilcoxonResult(statistic=62.0, pvalue=0.00013349783843432563)